/* google font addeed */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden !important;
}
/* main area styles */
.logo-title{
    font-weight: 600;
    font-size: 38px;
}
.custom-button{
    background: #E76F51;
    font-weight: 800;
    
}
.login-button{
    background: #E76F51;

}

/* images gray scale */
.bike-gray-color img{
    filter: grayscale(100);
}

/* rating star styles */
.filled-star{
    color: #E77C40;
}
